  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group">
      <a class="list-group-item list-group-item-success">Grupos Publicos</a>
      <a href="#" class="list-group-item active">Publico</a>
      <a href="#" class="list-group-item">Ingenieria de Sistemas</a>
      <a class="list-group-item list-group-item-info">Grupos Privados</a>
      <a href="#" class="list-group-item">Arquitectura de software</a>
      <a href="#" class="list-group-item">Taller de desarrollo</a>
      <a href="#" class="list-group-item">Ingenieria de software</a>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
    $('[data-toggle=offcanvas]').click(function() {
      $('.row-offcanvas').toggleClass('active');
    });
  });
  </script>
